@model Lifty_WebApp.DataAccess.Entities.Item
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "ADMIN - Удаление товара";
}

<h3>Are you sure you want to delete this test?</h3>
<div>
    <div class="row box-shadow mb-3">
        <br>
        <dl class="row col-sm-0 mx-auto">
            <dt class="col-sm-0">
                Название товара
            </dt>
            <dd class="col-sm-0">
                @Model.Name
            </dd>
            <dt class="col-sm-0">
                Производитель
            </dt>
            <dd class="col-sm-0">
                @Model.Brand
            </dd>
            <dt class="col-sm-0">
                Способ доставки
            </dt>
            <dd class="col-sm-0">
                @Model.Delivery
            </dd>
            <dt class="col-sm-0">
                Способ оплаты
            </dt>
            <dd class="col-sm-0">
                @Model.Payment
            </dd>
            <dt class="col-sm-0">
                Описание
            </dt>
            <dd class="col-sm-0">
                @Model.Description
            </dd>
        </dl>
        <br>
    </div>

    <form asp-action="DeleteTest" class="mx-1">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" style="width: 80px;" />
    </form>

    <div class="my-3">
        <a class="btn btn-outline-danger mx-1" style="width: 80px;" href="@Url.Action("ItemDetails", "Admin" , new { id=Model.Id })">Назад</a>
    </div>
</div>
